:root {
    --sidebar-blue: #009dff;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.admin-dashboard {
    font-style: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: auto 1fr;
}

/* Sidebar Styling */

.sidebar {
    padding: 20px;
    grid-row: span 2;
    color: var(--white);
    background: var(--sidebar-blue);

    display: grid;
    grid-template-rows: auto 1fr;
}

.sidebar h2 {
    margin-bottom: 40px; 
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    font-size: 2.2rem;
    align-items: center;
}

.sidebar-elements {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, max-content));
    gap: 40px;
}

.sidebar-button {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    width: max-content;
    gap: 10px;
}

.sidebar-button button {
    color: var(--white);
    

    font-weight: bold;
    font-size: 1.4rem;
    background: none;
    border: none;
}

.sidebar-button button:hover {
    color: rgb(255, 255, 255);
    opacity: 0.7;
    cursor: pointer;
}

/* Upper Header */

.header {
    padding: 20px 40px;
}

.top-header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-auto-flow: column;
    place-items: center left;
    gap: 30px;
}

.top-header input {
    width: 80%;
    height: 100%;
    background: #f1f1f1;
    border-radius: 50px;
}

.top-header-button,
.notification-button {
    border: none;
    background: none;
}

.top-header-button:hover,
.notification-button:hover {
    opacity: 0.7;
    cursor: pointer;
    background-color: var(--white);
    color: var(--sidebar-blue);
}   

.top-header img {
    height: 35px
}

.top-header h3 {
    font-size: 1.4rem;
}

.user-icon {
    border-radius: 40px;
}

/* Lower Header */

.bottom-header {
    padding: 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.greeting {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.greeting h4 {
    align-self: flex-end;
}

.greeting img {
    height: 80px;
    width: 100%;
    grid-row: span 2;
    border-radius: 50px;
}

.notification-buttons {
    align-self: end;
    justify-self: right;
}

.notification-button {
    font-size: 1rem;
    font-weight: bold;
    background: var(--sidebar-blue);
    color: var(--white);
    border: none;
    height: 50%;
    padding: 10px 30px;
    border-radius: 80px;
    margin-left: 15px;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #F2F2F1;
    padding: 20px 15px;
}

.left-side {
    display: grid;
    grid-template-rows: auto 1fr;
}

.left-side h2,
.right-side h2 {
    font-size: 1.5rem;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project {
    position: relative;
    border-radius: 0.5rem;
    background: white;
    box-shadow: -4px 0px orange;
    margin: 20px 15px 20px 0;
    padding: 20px 15px;
    line-height: 1.2rem;
}

.project >* {
    padding: 10px;
}

.activities {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

